* {
    font-family: ruboto, sans-serif;
}

.navbarbox {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: orange;
    padding-top: 15px;
}

.navbarbox p {
    margin-top: -12px;
    font-size: 20px;
}

.navbarbox h1 {
    margin-top: 0px;
}

header {
    background-color: orange;
    margin-bottom: 40px;
    word-wrap: break-word;
}

main .row {
    margin-bottom: 20px;
}

.box {
    height: 100%;
    border: 1px rgb(135, 135, 135) solid;
}


img{
  width: 100%;


}

.carddescription{
  margin-left: 15px;
  font-size: 15px;
}

.image1{
  background-image: url("images/rey_square.png");

}
