/*main {
  padding-top: 100px;
}

main .row {
  margin-bottom: 20px;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}*/

nav {
  position: fixed;
  display: block;
  z-index: 2;
  height: 40px;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 1px;
  background-color: orange;
  background-size: cover;
  background-position: center;

}
/*.black {
  background-color: black;
  color: white;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange
}

.blue {
  background-color: blue;
}*/
